/* .body {
    background-color: aqua;
}

.reslt {
    color: blue;
}

.container {
    margin-top: 20dp;
    margin-left: 20dp;
    column-fill: auto;
    background-color: cadetblue;
    text-orientation: inherit;
    text-align-last: auto;
} */